<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.switch-api-rs</string>
    <key>ServiceDescription</key>
    <string>REST API reporting MacBook CPU, power and display status</string>
	<key>Program</key>
	<string>/Users/ycardon/.cargo/bin/switch-api-rs</string>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
